body{
    margin-top: 5%;
}
a {
    font-size: 2em;
    font-weight: bold;
    display: inline-flex;
}

a {
    padding-left: 50px;
    background: url("../afbeeldingen_labo_6/VIVES.jpg");
    background-repeat: no-repeat;
    background-size: 40px;
}

