body {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
    font-size: 20px;
    padding-bottom: 80px;
}

h1{
    margin-bottom: 20px;
    font-size: 3em;

}

h2 {
    margin-bottom: 20px;
    font-size: 2em;

}

a {
    color: #4169E1;
    text-decoration: none;
    display: inline-block;
    margin: 10px auto;
    font-weight: bold;
    font-size: 1.1em;
}

a:hover {
    color: #002244;
    text-decoration: underline;
}

img{
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

video{
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

  .fotoIk{
    margin: 10px auto 40px auto;
}

ul, ol {
    list-style-type: none;          /* opsommingsteken weg */
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

li {
    margin: 20px 0;
    line-height: 1.6;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*border-radius: 5px;*/
    text-align: center;
    background: #004488;
    color: white;
    font-size: 0.9em;
}